{% load i18n %}
{% load static %}
{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-center mt-3">

    {% for item in courses%}
    <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
        <a href="{% url 'mainapp:courses_detail' pk=item.pk %}">
            <img src="{% static item.cover %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{item.name}}</h5>
            </div>
        </a>
    </div>
    {%endfor%}

</div>
<div class="row justify-content-center align-items-center mt-3 mb-n3">
    <nav aria-label="Page navigation example">

        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">{% translate "Previous"%}</a></li>
            {% for item in courses%}
            <li class="page-item"><a class="page-link" href="#">{{item.id}}</a></li>
            {%endfor%}
            <li class="page-item"><a class="page-link" href="#">{% translate 'Next'%}</a></li>
        </ul>
    </nav>
</div>


{% endblock content %}